extends layout

block content
  h1= 'Расчёт и моделирование цифровых фильтров'
  .leftCol
  p
  .rightCol
    #graph1.little
    #graph2.little
    #graph3.little
    #graph4.little
    #graph5.little
    #graph6.little