doctype html
html
  head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Расчёт и моделирование цифровых фильтров
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
  script(type='text/javascript' src='/javascripts/loader.js')
  script(src='/javascripts/script.js')
  
